body.Entry-body {
    color: #34495e;
    line-height: 2;
    font-size: 14px;
    font-family: Monaco, Menlo, Microsoft Yahei !important;
}
body.Entry-body h2 {
    color: #34495e;
    font-size: 18px;
    font-weight: 700;
}
body.Entry-body h1 {
    color: #34495e;
    font-size: 24px;
    font-weight: 700;
}
a {
    color: #ac3e40;
}
a:hover {
    text-decoration: underline;
    border-bottom: 0px !important;
}
svg {
    fill: #34495e !important;
}
.AppHeader-inner svg {
    fill: #fff !important;
    fill-opacity: .9;
}
.Modal-closeButton svg {
    fill: #fff !important;
}
.PageHeader .QuestionButtonGroup svg {
    fill: #fff !important;
}
/*
.ContentItem-actions svg {
fill: #999 !important;
}

.ContentItem-actions button {
color: #999 !important;
}

.ContentItem-actions .Button--plain:hover svg {
fill: #698ebf !important;
}
.ContentItem-actions .Button--plain:hover{
color: #698ebf !important;
}
*/

.Button--plain:hover svg {
    fill: #0d79d1 !important;
}
.Button--plain:hover {
    color: #0d79d1 !important;
}
.VoteButton svg {
    fill: #0d79d1 !important;
}
.VoteButton {
    color: #0d79d1;
    background: #eff6fa;
    background-color: #eff6fa;
}
.VoteButton:hover {
    color: #fff;
    background-color: #698ebf !important;
}
.VoteButton:hover svg {
    fill: #fff !important;
}
.VoteButton.is-active {
    color: #fff !important;
}
.VoteButton.is-active svg {
    fill: #fff !important;
}
.VoteButton.is-active:hover {
    color: #fff !important;
    background-color: #2980b9 !important;
}
.VoteButton--down {
    padding-right: 10px;
}
/*
.CommentItem-footer svg {
fill: #999 !important;
}
.CommentItem-footer {
color: #999 !important;
}*/

.Icon--weibo {
    fill: rgb(249, 110, 118) !important;
}
.Icon--wechat {
    fill: rgb(125, 210, 57) !important;
}
.CommentItem-likeBtn.is-liked {
    color: #0d79d1;
}
.CommentItem-likeBtn.is-liked svg {
    fill: #0d79d1 !important;
}
/*
.PushNotifications-count {
padding: 0 8px;
border: 1px solid #fff;
}*/

.PushNotifications-count {
    background: #bf1031;
    border: 1px solid #b11331;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), inset 0 1px 0 rgba(255, 255, 255, .15);
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    -webkit-text-size-adjust: none;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
}
.AppHeader {
    background-color: #34495e;
    padding: 0;
}
.AppHeader-navItem,
.AppHeader-navItem:visited,
.AppHeader-navItem:active {
    color: #fff;
    opacity: .9;
    -ms-filter: "alpha(Opacity=90)";
}
.Input-wrapper.Input-wrapper--grey {
    color: #536a81;
    background: #293a4a;
    border-radius: 3px;
    border: none;
    box-shadow: none;
}
.SearchBar-input input.Input {
    color: #fff;
}
.QuestionInvitation input.Input {
    color: #000;
}
.Input:focus {
    color: #fff;
}
.Button {
    color: #34495e;
}
.Button--primary.Button--blue,
.Button--primary.Button--blue:disabled {
    background: #34495e;
    border-radius: 3px;
    border: 1px solid #4e6d8d;
    box-shadow: none!important;
}
.Button--primary.Button--blue {
    opacity: .9;
    -ms-filter: "alpha(Opacity=90)";
}
.PageHeader .QuestionHeader-title {
    color: #fff;
    opacity: .9;
    -ms-filter: "alpha(Opacity=90)";
}
.PageHeader .Button {
    color: #fff;
    opacity: .9;
    -ms-filter: "alpha(Opacity=90)";
}
/*
.Menu {
padding: 0;
border-radius: 3px;
border: 0px solid #e7eaf1;
margin-top: 2px;
}
*/
/*
.Menu-item.is-active { 
background: #34495e;
}*/
/*
.Menu-item.AppHeader-profileButton{ 
background: #34495e;
}

.AppHeader-menu a:first-child {
	border-bottom: 1px solid #2f4154;
}

.AppHeader-menu a:last-child {
	border-top: 1px solid #2f4154;
}

.AppHeader-menu {
background: #293a4a;
}
*/

.AppHeader-profileButton {
    color: #34495e;
}
.QuestionHeader-menu-item {
    color: #34495e;
}
/*
.Menu--arrowed:after,
.Menu--arrowed:before {
    border-right: 0;
    border-left: 0;
}*/

.QuestionHeader {
    box-shadow: 0 1px 3px 0 rgba(52, 73, 94, .5);
    border-bottom: 2px solid #eee;
}
.Card {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}
.List-header {
    border-bottom: 2px solid #eee;
}
.List-item:not(:last-child):after {
    border-bottom: 2px solid #eee;
}
.CollapsedAnswers-bar {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}
.CornerButton {
    background: #ddd;
}
.CornerButton:hover {
    background: #a1c3dd;
}
.Messages-itemContent {
    color: #34495e;
}
/*
.SimilarQuestions-item .Button:hover {
border-bottom: 0px solid rgba(62,122,194,.72);
}*/

.Menu-item.is-active {
    text-decoration: none;
    background: #a1c3dd;
}
.Menu--arrowed .Button--plain:hover {
    color: #34495e !important;
}
.Menu--arrowed .Button--plain:hover svg {
    fill: #34495e !important;
}
/*
.Menu-item.Button--plain:hover {
text-decoration: none;
}*/

.Messages-item:hover {
    background-color: #a1c3dd;
}
.Select-option:hover {
    background-color: #a1c3dd;
}
.Editable-control.is-active,
.Editable-control:hover {
    background: #a1c3dd;
}
.Tabs-item a {
    color: #34495e;
}
.SubTabs a {
    color: #34495e;
}
.PushNotifications-newItem {
    background: #ddd;
}
.PushNotifications-followItem:hover {
    background-color: #a1c3dd;
}
.Tag {
    padding: 1px 10px 0;
    border-radius: 3px;
}
.Tag-content:hover {
    border-bottom: 1px solid rgba(172, 62, 64, 1);
}
.QuestionRichText-more {
    padding: 1px 10px 0;
    background-color: transparent;
    color: #ac3e40;
    border-radius: 3px;
}
.QuestionHeader-footer-inner .QuestionHeader-main > div:nth-child(2) button {
    color: #ac3e40;
}
.QuestionHeader-footer-inner .QuestionHeader-main > div:nth-child(2) button:hover {
    color: #7a8599;
}
/*
.QuestionRichText-more:hover {
color: #ac3e40;
background-color: #eff6fa;
}
.QuestionHeader-footer-inner .QuestionHeader-main > div:nth-child(2){
border-radius: 3px;
	background-color: #34495e;
}
.QuestionHeader-footer-inner .QuestionHeader-main > div:nth-child(2):hover{
	background-color: #0d79d1;
}
.QuestionHeader-footer-inner .QuestionHeader-main > div:nth-child(2) button{
color: #fff !important;
	opacity: .9;
}
.QuestionHeader-footer-inner .QuestionHeader-main > div:nth-child(2) svg{
fill: #fff !important;
}*/

.ContentItem-rightButton {
    color: #ac3e40;
}
.QuestionInvitation em {
    text-decoration: underline;
}
.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.UserLink-link) {
    border-bottom: 0px;
}
.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.UserLink-link):hover {
    color: #ac3e40;
    text-decoration: underline;
}
.RelatedLives-subject {
    color: #3e7ac2;
}
.RelatedLives-item:hover .RelatedLives-subject {
    color: #3e7ac2;
    text-decoration: underline;
}
.PageHeader a {
    color: #fff !important;
    opacity: .9;
    -ms-filter: "alpha(Opacity=90)";
}
.RichText a.member_mention,
.RichText a.UserLink-link {
    color: #ac3e40;
}
.ImageView.is-active {
    background-color: rgba(0, 0, 0, 0.65);
}
.RichText blockquote {
    color: #517394;
}
.Profile-lightItem,
.Profile-lightList {
    border-bottom: 0;
}
.Popover-fixedTargetContainer {
    top: 61px !important;
}
.AnswerItem-selfMenuItem {
    color: #34495e;
}